.cart{
	min-height: 100%;
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	.top{
		display: flex;
		justify-content: space-between;
		align-items: center;
			@media (max-width:740px) {
					flex-direction: column;
					align-items: flex-start;
					h2{
						margin-bottom: 10px;
					}
				}
	.title{
		font-weight: 700;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.01em;
		color: #000000;
	}	
	.clearBtn{
		cursor: pointer;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #B6B6B6;
	}
	}
	.cartItem{
		flex: 0 0 auto;
		margin:50px 0px 100px 0px;
		display: flex;
		flex-direction: column;	
	}
	.infos{
			display: flex;
			justify-content: space-between;
			@media (max-width:740px) {
				flex-direction: column;
				.totalPizzes{
					margin-bottom: 10px;
				}
			}
		.totalPizzes{
			font-weight: 400;
			font-size: 22px;
			line-height: 27px;
			letter-spacing: 0.01em;
			color: #000000;
			span{
				font-weight: 800;
			}
		}
		.totalCount{
			font-weight: 400;
			font-size: 22px;
			line-height: 27px;
			letter-spacing: 0.01em;
			color: #000000;
			span{
				color: #FE5F1E;
				font-weight: 800;
			}
		}
	}
	.buttons{
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
			@media (max-width:740px) {
					flex-direction: column;
					align-items: flex-start;
					a{
						margin-bottom: 10px;
					}
				}
	}
}