.header{	
		padding: 0px 15px;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: #ffff;
		z-index: 10;
}
.container{
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:10px;
	margin-bottom: 30px;
	.headerLeft{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo{
			margin-right: 10px;
		}
		.body{
			.title{
				font-weight: 800;
				font-size: 24px;
				line-height: 29px;
				letter-spacing: 0.01em;
				text-transform: uppercase;
				color: #181818;
			}
			.subtitle{
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				color: #7B7B7B;
			}
		}
	}

		a{
			button{
				@media (max-width:740px) {
					position: fixed;
					top: 100px;
					right: 10px;

				}
			}
		}
	
}