.content{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	max-width: 1400px;
	margin: 0 auto;
	margin-bottom: 20px;
	@media (max-width:740px) {
		display: none;
		
	}
	.filter{
		display: flex;
		justify-content: space-between;
		.item{
			padding: 10px 16px;
			margin-right: 14px;
			background: #F9F9F9;
			border-radius: 30px;
			color: #2C2C2C;
			&:hover{
				background: #282828;
				color: #FFFFFF;
			}
			&:last-child{
				margin-right: 0px;
			}
		}
		.item.active{
			background: #282828;
			color: #FFFFFF;

		
		}
	}
}